.portfolio{
  padding: 30px;
}
.portfolio-header{
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio-items{
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.portfolio-item{
  /* border: 1px solid red; */
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: .1s ease;
}
@media only screen and (min-width: 786px) {
  .portfolio-item{
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .portfolio-item{
    width: 33.33%;
  }
}

.portfolio-item:hover{
  opacity: 0.8;
}
.portfolio-item a{
  text-decoration: none;
  color: black;
}

.portfolio-item img{
  width: 100%;
}

