.PortfolioItem__portfolio_item {
  cursor: pointer;
  position: relative;
}
.PortfolioItem__portfolio_item:hover .PortFolioItem__icon_wrap {
  display: flex;
}
.PortfolioItem__portfolio_item:hover .PortfolioItem__img {
  opacity: 0.7;
  transition: 0.1s ease;
}

.PortfolioItem__figure {
  background: #0d6efd;
}

.PortFolioItem__icon_wrap {
  border: 2px solid #0d6efd;
  height: 3rem !important;
  width: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.PortFolioItem__icon_wrap:hover {
  background: #0d6efd;
  border: 2px solid #fff;
}

.PortFolioItem__icon_wrap:hover .PortFolioItem__icon {
  color: #fff;
}

.PortFolioItem__icon {
  font-size: 1.7rem;
  color: #0d6efd;
}
