.home__wrap {
  height: 100vh;
}

.home__heading {
  font-size: 2.4rem;
}
.home__para {
  font-size: 1.2rem;
}

.home__heading_color {
  color: #0d6efd;
}

.home__icon_wrap a {
  border: 2px solid;
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  border-radius: 2rem;
  cursor: pointer;
}
.home__icon {
  font-size: 1.6rem;
}
