.contact-wrapper{
  padding: 30px;
}
.contact-header{
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form{
  /* border: 1px solid; */
  /* display: flex; */
  /* flex-direction: column; */
}
.form-div{
  /* border: 1px solid green; */
}
.form-div label{
  display: block;
  font-size: 17px;
}
.form-div input, .form-div textarea{
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 7px;
  border: 1px solid #ddd;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.form-div input:focus, .form-div textarea:focus{
  outline: 0;
  box-shadow: 0px 0px 0px 2px #0084ff;
}
.form-btn{
  background: #0084ff;
  color: white;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-btn:hover{
  opacity: 0.8;
  outline: 0;
}


.test{
  /* border: 1px solid red; */
}