.sidebar_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  /* background: #fff; */
}

.sidebar {
  width: 0px;
  height: 100%;
  background: #e6ecf0;
  border-right: 1px solid #bdc3c7 !important;
  position: relative;
}
.sidebar.active {
  width: 250px;
}

.sidebar__toggle_btn {
  position: absolute;
  right: -46px;
  top: 4px;
  z-index: 999;
}
@media (min-width: 768px) {
  .sidebar__toggle_btn {
    display: none;
  }
}
.sidebar__toggle_btn.unactive {
  display: none !important;
}
.sidebar__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar__top_img_wrap {
  padding: 30px;
  border-bottom: 1px solid #bdc3c7;
}
.sidebar__top_img {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10rem;
  border: 4px solid #0d6efd;
  height: 190px;
  width: 190px;
  background: #fff;
}

.sidebar__bottom {
  border-top: 1px solid #bdc3c7;
  padding: 10px;
}

.sidebar__middle ul li {
  cursor: pointer;
}
.sidebar__middle li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__middle li a.active {
  background: #0d6efd;
  color: #fff;
}

.sidebar__middle li a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
}
